body{
	background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(191,148,233,1) 100%);

	color:white;
	font-family: Times New Roman;
	font-size: 20px;

	text-align: center;
          
       
         
}
 p, a{
	font-size: 1.2em;
}
a{ text-decoration: none; 
          font-family:Times New Roman; 
          font-size:26px;
          padding-top: 30px;
          padding-bottom:20px;

    
	color: white;
	transition: color 300ms  ease-in;
}

li{display: inline;
          margin:10px 15px; }

a:hover{color: #ff0092;}

img{ max-width: 100% }

#container{
	max-width: 600px;
	margin: 0 auto;
}

.link{list-style: none;


}

ul{
	border: 2px solid white;
}