body{
	background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(191,148,233,1) 100%);

	color:white;
	font-family: Times New Roman;
	font-size: 20px;

	text-align: center;
          
       
         
}
 a{
	font-size: 1.2em;
}
a{ text-decoration: none; 
          font-family:Times New Roman; 
          font-size:26px;
          padding-top: 30px;
          padding-bottom:20px;

    
	color: white;
	transition: color 300ms  ease-in;
}

p{

	margin:2;

}

li{display: inline;
          margin:10px 15px; }

a:hover{color: #ff0092;}

img{ max-width: 100% }

#container{
	max-width: 640px;
	margin: 0 auto;
}

.link{list-style: none;


}

ul{
	border: 2px solid white;
}
 
 #sketch {
	max-width: 640px;
	margin:0 auto;
	position: relative;
}



button, input {
	display: block;
	border: 2px  solid white;
	padding: 0.3em;
	cursor: pointer;
	background: linear-gradient(to right top, #c8056b, #c20086, #af00a6, #8814c9, #1238eb);
	border-radius: 4px;
	font-size: 20px;
	margin:4px 0;
	box-shadow: 2px 2px 0 gray;
	

}

